body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191A2D;
  line-height: 28px;
 }
 *{
  box-sizing: border-box;
 }
/* navbar */
h1{
  font-size: 2.7rem;
}
h2{
  font-size: 1.5rem;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #121422;
}
/* header > h1{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 25px;
  color: #B17C80;
} */
nav{
  width: auto;  
  text-align: center;
}
nav ul{
  list-style: none;
  text-align: center;
}
nav li{
  display: inline-block;
  padding: 0 20px;
  line-height: 48px;
  
}
nav li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  
}
nav li a:hover{
  padding-bottom: 8px;
  border-bottom: 2px solid #B17C80;
  /* line-height: 48px;
  /* border: 1px solid #B17C80;
  border-radius: 50px;
  width: 20px; */
}
/* ------------------------------------------- */

 .split-screen{
  position: relative;
  width: 100vw;
  min-height: 80vh;
  overflow: hidden;
 }
 .layer{
  /* background: #EDEDED; */
  background: #191A2D;
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* border: 1px red solid; */
 }
 .layer .content-wrap{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 0 1em;
 }
 .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 16em 8em;
 }
 .layer .content-wrap .content-wrap-right{
    align-content: end;
 }
 .layer .content-wrap .content-wrap-left{
    align-content: start;
 }
 .layer img{
  position: absolute;
  width: 100%;
  max-width: 40em;
  top: 50%;
  left: 48.5%;
  transform: translate(-50%,-50%);
 }
 .right{
  background-color: #191A2D;
  z-index: 1;
  color: #fff;
 }
 .right .content-wrap{
  justify-content: right;
 }
 .left{
  z-index: 2;
  width: 50vw;
  color: #fff;
 }
 .layer h1{
  max-width: 9em;
  font-size: 2.8em;
  z-index: 2;
 }
 .layer p{
  max-width: 15em;
  font-size: 1.2em;
  z-index: 3;
  display: none;
  /* display: none; */
 }
 /* @media screen and (max-width: 844px) and (min-width: 390px) {
  .layer .content-wrap > h1, .layer .content-wrap > p{
    color: rgb(54, 145, 115);
  }
} */
 
 /*git branch -M main*/
 .whatIDo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 8%;
  color: #fff;
  /* border: 1px red solid; */
 }
 .aboutComp{
  flex: 1;
 }
.skillsComp{
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px red solid; */
}
 .skillsContainer {
  width: 70%;
  /* background-color: #ddd; */
  background-color: #673136;
  border-radius: 25px;
  height: 55%;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.skillClass{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: left;
  /* border: 1px red solid; */
}
.skillClass p{
  flex: 1;
  text-align: right;
}
.aboutMeDes{
  display: flex;
}
.downButton{
  color: white;
  z-index: 9;
  text-align: center;
  padding: 10px;
  display: inline;
  width: 100px;
}
/* ------------------svg------------------- */
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
/* -------------------svg---------------------- */
.buttonContainer{
  display: flex;
  justify-content: center;
}
.html {width: 70%; height: 100%; background-color: #B17C80; border-radius: 25px;}
.css {width: 80%; height: 100%; background-color: #B17C80; border-radius: 25px;}
.js {width: 65%; height: 100%; background-color: #B17C80; border-radius: 25px;}
.php {width: 60%; height: 100%; background-color: #B17C80; border-radius: 25px;}

/* @media screen and (min-width: 1181px)  {
  .whatIDo{
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .skillsComp{
    width: 100%;
  }
  .layer img{
    position: absolute;
    top: 25%;
    left: 48.5%;
    transform: translate(-50%,-50%);
    width: 15rem;
  }
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 0.4rem;
    position: absolute;
    top: 10em;
   }
   p{
    display: none;
   }
} */
@media screen and (max-width: 844px) and (min-width: 390px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    width: 100vw;
    min-height: 0vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.3rem;
    position: absolute;
    top: 12em;
    /* border: 1px solid red; */
  }
 .layer img{
    position: absolute;
    top: 17.7%;
    left: 48.5%;
    transform: translate(-50%,-50%);
    width: 15rem;
    /* border: 1px solid red; */
  }
 .split-screen{
  position: relative;
  width: 100vw;
  min-height: 35vh;
  overflow: hidden;
 }
 .whatIDo{
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .skillsComp{
    width: 100%;
  }
}
/* @media screen and (max-width: 667px) and (min-width: 375px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    width: 100vw;
    min-height: 0vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    font-size: 0.3rem;
    position: absolute;
    top: 9em;
    border: 1px solid red;
  }
 .layer img{
    position: absolute;
    top: 17.7%;
    left: 48.5%;
    transform: translate(-50%,-50%);
    width: 15rem;
    border: 1px solid red;
  }
  .split-screen{
   position: relative;
   width: 100vw;
   min-height: 35vh;
   overflow: hidden;
  }
} */
/* @media screen and (max-width: 896px) and (min-width: 414px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    min-height: 0vh;
    font-size: 0.33rem;
    top: 11em;
    border: 1px solid blue;
  }
 .layer img{
    top: 15.5%;
    border: 1px solid red;
  }
  .split-screen{
   min-height: 32vh;
   border: 1px solid brown;
  }
} */
@media screen and (max-width: 740px) and (min-width: 360px) {
 .whatIDo{
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .skillsComp{
    width: 100%;
  }
}

@media screen and (max-width: 1180px) and (min-width: 820px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    min-height: 0vh;
    font-size: 0.9rem;
    top: 5em;
    /* border: 1px solid blue; */
  }
 .layer img{
    width: 40rem;
    top: 40%;
    /* border: 1px solid red; */
  }
  .split-screen{
   min-height: 80vh;
   /* border: 1px solid #1c1b1b; */
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    min-height: 0vh;
    font-size: 0.5rem;
    top:22em;
    /* border: 1px solid blue; */
  }
 .layer img{
    width:28rem;
    top: 25%;
    /* border: 1px solid red; */
  }
  .split-screen{
   min-height: 50vh;
   /* border: 1px solid greenyellow; */
  }
}
@media screen and (max-width: 375px) and (min-width: 280px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    min-height: 0vh;
    font-size: 0.22rem;
    top: 14em;
    /* border: 1px solid blue; */
  }
 .layer img{
    width: 12rem;
    top: 15%;
    /* border: 1px solid red; */
  }
  .split-screen{
   min-height: auto;
   /* border: 1px solid blueviolet; */
  }
}
/* @media screen and (max-width: 773px)  {
  .layer img{
    position: absolute;
    top: 25%;
    left: 48.5%;
    transform: translate(-50%,-50%);
    width: 22rem;
  }
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    font-size: 0.55rem;
    position: absolute;
    top: 8em;
   }

   .split-screen{
    min-height: 50vh;
    border: 1px solid aqua;
   }
} 375 */
@media screen and (max-width: 768px) and (min-width: 450px) {
  .layer .content-wrap .content-wrap-right, .layer .content-wrap .content-wrap-left{
    min-height: 0vh;
    font-size: 0.5rem;
    top: 6em;
    /* border: 1px solid blue; */
  }
 .layer img{
    width:28rem;
    top: 25%;
    /* border: 1px solid red; */
  }
  .split-screen{
   min-height: 50vh;
   /* border: 1px solid #b17c80; */
  }
  .aboutMeDes{
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  .skillsComp{
    width: 90%;
  }
 .arrows {
	width: 60px;
	height: 72px;
/* 	position: absolute; */
	top: 55%;
	margin-left: -30px;
	
}
}

